@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.round-gradient-edge {
    @include mixins.linearGradient(var.$color__yellow, var.$color__red);
    border-radius: var.$round-gradient-edge__border-radius;

    > * {
        display: block;
        border-radius: var.$round-gradient-edge__border-radius;
        overflow: hidden;
        transform: scale(0.98);
    }

    &--small {
        border-radius: var.$round-gradient-edge__border-radius--small;

        > * {
            border-radius: var.$round-gradient-edge__border-radius--small;
        }
    }

    &--top-left {
        > * {
            transform: translate(10px, 10px) scale(0.98);
        }

        &.round-gradient-edge--small > * {
            transform: translate(-5px, -5px) scale(0.98);
        }
    }

    &--bottom-right {
        > * {
            transform: translate(-10px, -10px) scale(0.98);
        }

        &.round-gradient-edge--small > * {
            transform: translate(-5px, -5px) scale(0.98);
        }
    }
}


