@use 'abstracts/variables' as *;
@use 'abstracts/mixins';

.text {
    &__container--main {
        p {
            padding: 50px;
            margin: 5px;
            background-color: $color__black--2;
            color: $color__white;
            font-size: 2.0rem;
            border-top-left-radius: 5px;
        }
    }

    @include mixins.desktopStyles {
        &__container--main p {
            margin: 0;
        }
    }
}
