---
layout: layouts/page.njk
title: No Title Available
---

<header>
  <h1>
    {{ title }}
  </h1>
</header>
<nav>
    <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
    </ul>
</nav>
{{ content | safe }}
