---
layout: layouts/page.njk
title: No Title Available
---

<header class="header">
  <h1 class="header__title header__title--hidden">
    {{ title }}
  </h1>
</header>
<nav>
  <ul class="nav">
      <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
  </ul>
</nav>
{{ content | safe }}
