---
layout: layouts/page.njk
title: No Title Available
---

<header>
  <h1>
    {{ title }}
  </h1>
</header>
<nav>
  <ul class="nav">
    <li class="nav__item"><a class="nav__link">First</a></li>
    <li class="nav__item"><a class="nav__link">Second</a></li>
    <li class="nav__item"><a class="nav__link">Third</a></li>
    <li class="nav__item"><a class="nav__link">Fourth</a></li>
    <li class="nav__item"><a class="nav__link">Fifth</a></li>
    <li class="nav__item"><a class="nav__link">Sixth</a></li>
  </ul>
</nav>
{{ content | safe }}
