@use 'abstracts/variables' as *;

// Example Usage: @include linearGradient(#fff, #000, 145deg);
@mixin linearGradient($color1, $color2, $deg: $linear-gradient__degree--default) {
    background-image: linear-gradient($deg, $color1, $color2);
}

// Example Usage: @include desktopStyles { (styles here) }
@mixin desktopStyles($breakpoint: $mobile-breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

// visually hide elements but keep in accessibility tree
@mixin hideVisually {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

// default link style
@mixin defaultLink {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    padding: 15px 15px;
    text-decoration: none;
    overflow: hidden;

    &:link,
    &:visited,
    &:active {
        color: $color__white;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 200%;
        height: 4px;
        bottom: 5px;
        left: 0;
        transition: transform .6s ease;
        transform: translateX(0) skew(75deg, -1deg);
        @include linearGradient($color__accent--1 5%, $color__accent--2);
    }

    &:hover::after,
    &:focus::after {
        transform: translateX(-50%);
    }
}
