// -------------------------
// Colors
// -------------------------

$color__white: #f0f0f0;

$color__yellow: #e2cc51;
$color__red: #a73c38;

$color__gray--0: #ececec;
$color__gray--1: #c0c0c0;
$color__gray--2: #a1a1a1;
$color__gray--3: #808080;
$color__gray--4: #6b6b6b;
$color__gray--5: #464646;

$color__black--0: #313131;
$color__black--1: #202020;
$color__black--2: #131313;
$color__black--3: #000000;

// -------------------------
// Gradients
// -------------------------

$linear-gradient__degree--default: 130deg;

// -------------------------
// Typography
// -------------------------

$font__size--base: 1.8rem;
$font__size--nav-link--main: 2.5rem;
$font__size--nav-link--footer: 1.8rem;

$line-height--paragraph: 1.5;

$heading--primary__color: $color__black--2;
$heading--secondary__color: $color__gray--1;

$headings: (
  h6: (
    font-size-ratio: 1.4,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none,
    margin: 10px 0
  ),
  h5: (
    font-size-ratio: 1.6,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none,
    margin: 10px 0
  ),
  h4: (
    font-size-ratio: 1.8,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none,
    margin: 10px 0
  ),
  h3: (
    font-size-ratio: 2.1,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none,
    margin: 15px 0
  ),
  h2: (
    font-size-ratio: 2.6,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none,
    margin: 20px 0
  ),
  h1: (
    font-size-ratio: 3.1,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none,
    margin: 25px 0
  )
);

// -------------------------
// Layout
// -------------------------

$mobile-breakpoint: 768px;

$main-content__max-width: 1280px;

$section__margin: 30px 20px;

$column-gap--base: 30px;

$portfolio-picture__border-radius: 100px;
