---
layout: layouts/default-layout.njk
title: Gabe Petersen
---

<main>
    <section class="section__two-column">
        <div class="section__two-column__item">
            {% image "src/img/me.jpg", "A self portait", "(min-width: 768px) 40vw, 80vw" %}
        </div>
        <div class="section__two-column__item">
            <p>Hello my name is Gabe Petersen, and I build website stuff. I currently am positioned on Rightpoint's commerce team as a Front End Developer. Currently, my interests involve improving accessibility and internal tooling for our organization, but I really enjoy build new stuff and learning new hobbies when I have nothing to do.</p>
        </div>
    </section>
</main>
