---
layout: layouts/default-layout.njk
title: Gabe Petersen
---

<main>
    <section>
        <div></div>
        <div><p>Hello my name is Gabe Petersen. I build website stuff. I currently work at Rightpoint as a Front End Developer, and right now, I am super interested in accessibility and internal tooling.</p></div>
    </section>
</main>
