// -------------------------
// Colors
// -------------------------

$color__white: #ffffff;

$color__gray--0: #ececec;
$color__gray--1: #c0c0c0;
$color__gray--2: #a1a1a1;
$color__gray--3: #808080;
$color__gray--4: #6b6b6b;
$color__gray--5: #464646;

$color__black--0: #313131;
$color__black--1: #202020;
$color__black--2: #131313;
$color__black--3: #000000;

// -------------------------
// Typography
// -------------------------

$font__size--base: 1.8rem;
$font__size--nav-link--main: 2.5rem;
$font__size--nav-link--footer: 1.8rem;

$line-height--paragraph: 1.5;

$heading--primary__color: $color__black--2;
$heading--secondary__color: $color__gray--1;

$headings: (
  h6: (
    font-size: 1rem,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none
  ),
  h5: (
    font-size: 1.4rem,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none
  ),
  h4: (
    font-size: 2rem,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none
  ),
  h3: (
    font-size: 2.5rem,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none
  ),
  h2: (
    font-size: 3rem,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none
  ),
  h1: (
    font-size: 4rem,
    font-weight: 300,
    font-family: 'Arial, sans-serif',
    text-transform: none
  )
);

// -------------------------
// Layout
// -------------------------

$mobile-breakpoint: 768px;

$main-content__max-width: 1280px;

$section__margin: 30px 20px;

$column-gap--base: 30px;

$round-gradient-edge__border-radius: 100px;
$round-gradient-edge__border-radius--small: 100px;
